$body-font-family = Georgia, Cambria, 'Times New Roman', Times, serif

body
    font-size: 1.5em
    @media screen and (max-width: 960px)
        font-size: 1em
    
@import '~vuetify/src/stylus/main'